# Created by https://www.gitignore.io/api/emacs

### Emacs ###
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el


# End of https://www.gitignore.io/api/emacs

# personal added items
.mc-lists.el
bookmarks
elfeed/
games/
ido.last
image-dired/
jdee-server/
meghanada/
newsticker/
places
projectile-bookmarks.eld
projectile.cache
recentf
site-lisp/
smex-items
transient/
undo/
url/