# personal added items
/.cache
/.dap-breakpoints
/.lsp-session-*
/.mc-lists.el
/bookmarks
/eclipse.jdt.ls/*
/eglot-eclipse-jdt-cache/*
/elfeed/
/elpa*
/elpy/*
/games/
/ido.last
/image-dired/
/javadoc-cache/*
/jdee-server/
/lsp-cache
/meghanada/
/newsticker/
/places
/projects
/projectile-bookmarks.eld
/projectile.cache
/pyim/*
/recentf
/request
/site-lisp/
/smex-items
/transient/
/undo/
/url/
/var/
/workspace/*
user-*.el

/custom.el
/snippets/dancer-mode/*

# Created by https://www.gitignore.io/api/emacs

### Emacs ###
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# End of https://www.gitignore.io/api/emacs
